/* Base Application Styles */
html {
  height: 100%;
}
body {
  background: url("/images/bcgr.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: medium;
  height: 100%;
}
#app {
  height: 100%;
}
.index {
  height: 100%;
}
.row {
  margin-left: 0%;
}
.center {
  text-align: center;
  vertical-align: middle;
}
.logoRow {
  height: 10%;
}
.logoRow .logo {
  margin-top: 2%;
}
.contentRow {
  height: 60%;
}
.contentRow .content {
  left: 0;
  right: 0;
  z-index: 9999;
  margin-top: 1%;
  background-color: rgba(255,255,255,0.4);
  padding-bottom: 1%;
  padding-top: 1%;
  height: 80%;
}
.contentRow .content .challenge {
  height: 100%;
}
.contentRow .content .challenge .puzzle {
  height: 100%;
}
.logo {
  margin-top: 2%;
  padding-left: 0%;
}
.submit {
  vertical-align: bottom;
  float: right;
  margin-top: 1.5%;
}
.submit,
.submit:focus {
  background: rgba(255,255,255,0.8);
  color: rgba(250,122,21,0.8);
  border-color: rgba(250,122,21,0.8);
  font-size: medium;
}
.submit:hover,
.submit:active:hover,
.submit:active {
  background: rgba(250,122,21,0.8);
  color: rgba(255,255,255,0.8);
  border-color: rgba(250,122,21,0.8);
  font-size: medium;
}
.space {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  padding: 1% 0 1% 0;
  color: rgba(250,122,21,0.8);
  font-weight: bolder;
  font-size: larger;
}
.start {
  margin-top: 10%;
  margin-bottom: 10%;
}
.start,
.start:focus {
  background: rgba(255,255,255,0.8);
  color: rgba(250,122,21,0.8);
  border-color: rgba(250,122,21,0.8);
  font-size: medium;
}
.start:hover,
.start:active,
.start:active:hover {
  background: rgba(250,122,21,0.8);
  color: rgba(255,255,255,0.8);
  border-color: rgba(250,122,21,0.8);
  font-size: medium;
}
.code {
  margin-bottom: 0.5%;
  padding-bottom: 5%;
  padding-top: 20%;
  width: 80%;
  margin-left: 10%;
  font-size: medium;
}
.code:hover,
.code:active,
.code:active:hover {
  background: #4d5656;
}
.timer {
  color: rgba(250,122,21,0.8);
  font-size: larger;
  font-weight: bolder;
}
.talent {
  animation: fromBack 1s linear 1.5s backwards;
}
.talent,
.talent:focus {
  background: rgba(255,255,255,0.8);
  color: #9863ae;
  border-color: #9863ae;
  font-size: medium;
}
.talent:hover,
.talent:active,
.talent:active:hover {
  background: #9863ae;
  color: rgba(255,255,255,0.8);
  border-color: #9863ae;
  font-size: medium;
}
/* Animations - Zuhlke splash */
.image #canvas {
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 100%;
  animation: fromBack 0.5s linear 0s backwards;
}
/* Matchstick */
.operation {
  height: 100%;
}
.operation .horizontal {
  height: 5%;
  position: absolute;
}
.operation .horizontal .middle {
  background-color: #ff0;
  height: 80%;
}
.operation .horizontal .bottom {
  background-color: #000;
  height: 80%;
}
.operation .horizontal .top {
  background-color: #008000;
  height: 80%;
}
.operation .verticalZindex {
  height: 25%;
  z-index: 100;
}
.operation .verticalZindex .plus {
  background-color: #f00;
  z-index: 100;
  height: 25%;
  position: absolute;
}
.number {
  height: 100%;
}
.number .vertical {
  height: 25%;
}
.number .vertical .left {
  background-color: #f00;
  height: 100%;
}
.number .vertical .right {
  background-color: #00f;
  height: 100%;
}
.number .horizontal {
  height: 5%;
}
.number .horizontal .middle {
  background-color: #ff0;
  height: 80%;
}
.number .horizontal .bottom {
  background-color: #000;
  height: 80%;
}
.number .horizontal .top {
  background-color: #008000;
  height: 80%;
}
@-moz-keyframes fromBack {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes fromBack {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes fromBack {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fromBack {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
