/* Base Application Styles */
html {
  height: 100%;
}
body {
  background: url("/images/bcgr.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: medium;
  height: 100%;
}
img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#app {
  height: 100%;
}
.index {
  height: 100%;
}
.center {
  text-align: center;
  vertical-align: middle;
  height: 100%;
}
.logoRow .logo {
  margin-top: 2%;
  padding-left: 0%;
}
.contentRow .content {
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba(255,255,255,0.4);
  padding-bottom: 1%;
}
.submit {
  vertical-align: bottom;
  float: right;
  margin-top: 1.5%;
}
.submit,
.submit:focus {
  background: rgba(255,255,255,0.8);
  color: rgba(250,122,21,0.8);
  border-color: rgba(250,122,21,0.8);
  font-size: medium;
}
.submit:hover,
.submit:active:hover,
.submit:active {
  background: rgba(250,122,21,0.8);
  color: rgba(255,255,255,0.8);
  border-color: rgba(250,122,21,0.8);
  font-size: medium;
}
.space {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  padding: 1% 0 1% 0;
  color: rgba(250,122,21,0.8);
  font-weight: bolder;
  font-size: larger;
}
.start {
  margin-top: 10%;
  margin-bottom: 10%;
}
.start,
.start:focus {
  background: rgba(255,255,255,0.8);
  color: rgba(250,122,21,0.8);
  border-color: rgba(250,122,21,0.8);
  font-size: medium;
}
.start:hover,
.start:active,
.start:active:hover {
  background: rgba(250,122,21,0.8);
  color: rgba(255,255,255,0.8);
  border-color: rgba(250,122,21,0.8);
  font-size: medium;
}
.code {
  margin-bottom: 0.5%;
  padding-bottom: 5%;
  padding-top: 20%;
  width: 80%;
  margin-left: 10%;
  font-size: medium;
}
.code:hover,
.code:active,
.code:active:hover {
  background: #4d5656;
}
.timer {
  color: rgba(250,122,21,0.8);
  font-size: larger;
  font-weight: bolder;
}
.talent {
  animation: fromBack 1s linear 1.5s backwards;
}
.talent,
.talent:focus {
  background: rgba(255,255,255,0.8);
  color: #9863ae;
  border-color: #9863ae;
  font-size: medium;
}
.talent:hover,
.talent:active,
.talent:active:hover {
  background: #9863ae;
  color: rgba(255,255,255,0.8);
  border-color: #9863ae;
  font-size: medium;
}
/* Animations - Zuhlke splash */
.image #canvas {
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 100%;
  animation: fromBack 0.5s linear 0s backwards;
}
/* Matchstick */
.puzzleRow {
  height: 70%;
}
.puzzleRow .contentPuzzle {
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba(255,255,255,0.4);
  padding-bottom: 1%;
  height: 100%;
}
.puzzleRow .contentPuzzle .challenge {
  height: 100%;
}
.puzzleRow .contentPuzzle .challenge .extras {
  height: 30%;
}
.puzzleRow .contentPuzzle .challenge .puzzle {
  height: 70%;
}
.puzzleRow .contentPuzzle .challenge .puzzle .operation {
  height: 50%;
  font-size: 0;
  position: relative;
}
.puzzleRow .contentPuzzle .challenge .puzzle .operation .horizontal {
  height: 50%;
  font-size: 0;
  position: absolute;
  bottom: 0;
}
.puzzleRow .contentPuzzle .challenge .puzzle .operation .horizontal .top,
.puzzleRow .contentPuzzle .challenge .puzzle .operation .horizontal .middle,
.puzzleRow .contentPuzzle .challenge .puzzle .operation .horizontal .bottom {
  width: 60%;
  height: 30%;
  display: inline-block;
}
.puzzleRow .contentPuzzle .challenge .puzzle .operation .horizontal .top .match,
.puzzleRow .contentPuzzle .challenge .puzzle .operation .horizontal .middle .match,
.puzzleRow .contentPuzzle .challenge .puzzle .operation .horizontal .bottom .match {
  display: inline-block;
  -webkit-transform: rotate(90deg);
}
.puzzleRow .contentPuzzle .challenge .puzzle .operation .verticalZindex {
  height: 60%;
  z-index: 100;
  bottom: 0;
  position: absolute;
}
.puzzleRow .contentPuzzle .challenge .puzzle .operation .verticalZindex .plus {
  z-index: 100;
  height: 100%;
}
.puzzleRow .contentPuzzle .challenge .puzzle .operation .verticalZindex .plus .match {
  display: inline-block;
}
.puzzleRow .contentPuzzle .challenge .puzzle .number {
  height: 100%;
  font-size: 0;
}
.puzzleRow .contentPuzzle .challenge .puzzle .number .vertical {
  height: 30%;
}
.puzzleRow .contentPuzzle .challenge .puzzle .number .horizontal {
  -webkit-transform: rotate(90deg);
  display: inline-block;
  height: 8%;
}
.placeholder {
  opacity: 0.08;
}
@-moz-keyframes fromBack {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes fromBack {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes fromBack {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fromBack {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
