/* Base Application Styles */
body {
  color: #fff;
  background: #FDFEFE;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.center {
  text-align: center;
}

.block, .submit:hover {
  background: #AF7AC5;
  color: #fff;
  border-color: #fff;
  width:100%;
}

.block:hover, .block:active:hover, .block:active, .submit {
  background: #fff;
  color: #AF7AC5;
  border-color: #AF7AC5;
}

.submit {
  vertical-align: bottom;
  float: right;
}

.space {
  border-color: #AF7AC5;
  border-style: solid;
  border-width: thin;
  color: #AF7AC5;
  border-radius: 15px;
}
